<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsRakKTGhrzfcdBzZvvkGRJeGZsVSSxfw</string>
	<key>GCM_SENDER_ID</key>
	<string>794550036331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theWall</string>
	<key>PROJECT_ID</key>
	<string>the-wall-febc4</string>
	<key>STORAGE_BUCKET</key>
	<string>the-wall-febc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794550036331:ios:56e7f4f9ed45f66b9e0e2e</string>
</dict>
</plist>